.mainContainer{
    display: flex;
    justify-content: space-between;
}
.filter_container{
    width: 20%;
    height: 70vh;
    border: 2px solid red;
}

.Container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: center;
    gap:20px;
    margin:auto;
    padding: 20px;
}
.product-card{
    width: 100%;
    margin: auto;
}
.product-card img{
    width: 100%;
}
.product-card>div{
    display: flex;
    justify-content: center;
    gap:5px;
    margin: 5px;
}