#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#myt {
  /* display: flex;  */
  margin: auto;
  border: 1px solid red;
  width: 30%;
}

#myt>div {
  display: flex;
  justify-content: space-around;

}

#myt>div:nth-child(even) {
  background-color: aqua;
  color: black;
}